@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
}

.bg-primary-light {
    background-color: #e5efff !important;
}

.text-primary-light {
    color: #7CB7F9 !important;
}

.text-gray-ligh {
    color: #666666 !important;
}

.bg-gray-light {
    background-color: #f1f1f1 !important;
}

.theme-dark {
    background-color: #323232 !important;
}

.fontOne {
    font-weight: 400 !important;
}

.f-12 {
    font-size: 12px !important;
}

.f-14 {
    font-size: 14px !important;
}

.f-16 {
    font-size: 16px !important;
}

.f-18 {
    font-size: 18px !important;
}

.f-20 {
    font-size: 20px !important;
}

.mt-8 {
    margin-top: 8rem !important;
}

.w-max-content {
    width: max-content;
}

.cursor_pointer {
    cursor: pointer;
}

.accordion-item {
    border: unset !important;
    cursor: pointer;
}

.accordion-body {
    box-shadow: 0px 4px 20px 0px #0000001F;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.accordion-button {
    font-size: 16px !important;
    font-weight: 500;
    border: none !important;
    box-shadow: unset !important;
}

.accordion-button.collapsed {
    background-color: #D9D9D959 !important;
    border-radius: 8px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #e9ecef00 #e9ecef00 #dee2e600 !important;
    isolation: isolate;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: #dee2e600 #dee2e600 #0d6efd !important;
    color: #0d6efd !important;
}

.accordion-button:not(.collapsed) {
    color: #0177FB !important;
    background-color: #EBF4FF !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.accordion-button.collapsed::after {}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230177FB'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.welcom-msg-box p {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.form-label {
    color: #323232;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

.form-control:focus {
    box-shadow: unset !important;
}

.custom-form p {
    color: #32323280;
    font-size: 13px;
    font-weight: 400;
}

.config-msg p {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}